<a href="https://colab.research.google.com/github/ak7588/SoftwareArt/blob/main/ak7588_class2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### For this assignment, you must: 

<br> 1. Create a Pandas DataFrame from http://data.cityofnewyork.us/api/views/jb7j-dtam/rows.json and rename your columns. <br>
 
<br> 2. Answer the following questions: <br> 
 - What was the leading cause of death in 2014? 
 - What race/ethnicity had the most recorded deaths in 2014? 
 - Which year had the lowest age adjusted death rate?

# 1. Solution:

In [2]:
import requests
import pandas as pd

url = 'http://data.cityofnewyork.us/api/views/jb7j-dtam/rows.json'
results = requests.get(url).json() 
# results.keys()
# results['data']
df = pd.DataFrame(results['data'])

In [3]:
# adding columns
columns = results['meta']['view']['columns']
columns[0]

{'dataTypeName': 'meta_data',
 'fieldName': ':sid',
 'flags': ['hidden'],
 'format': {},
 'id': -1,
 'name': 'sid',
 'position': 0,
 'renderTypeName': 'meta_data'}

In [4]:
headers = [i['fieldName'] for i in columns]
df = pd.DataFrame(results['data'], columns = headers)
df.head()

                 :sid  ... age_adjusted_death_rate
0  row-fhhs-kg24_i4hp  ...                       .
1  row-y6gk.jgix~tksw  ...                    18.5
2  row-udud_vd9x~2kaj  ...                       .
3  row-zb7t.cntb_bdu2  ...                       .
4  row-ik2d-c7g5-f54i  ...                    15.6

[5 rows x 15 columns]

In [5]:
# run this once only
df.drop(labels = [':updated_at', ':created_at', ':id', ':sid', ':position', ':meta', ':created_meta', ':updated_meta'], axis=1, inplace=True)

In [20]:
df.drop(df.index[1094:], inplace=True)
df.tail()

      year  ... age_adjusted_death_rate
1089  2008  ...                       .
1090  2007  ...                       .
1091  2008  ...                   220.4
1092  2014  ...                       .
1093  2009  ...                    12.3

[5 rows x 7 columns]

In [11]:
# renaming columns
renaming = {'year': 'Year', 'leading_cause': 'Leading cause', 'sex': 'Sex', 'race_ethnicity': 'Race/Ethnicity', 'deaths': 'Deaths', 'death_rate': 'Death rate', 'age_adjusted_death_rate': 'Age adjusted death rate'	} # renaming_dict
df.rename(columns = renaming, inplace=True)
df.head()

   Year  ... Age adjusted death rate
0  2009  ...                       .
1  2013  ...                    18.5
2  2012  ...                       .
3  2007  ...                       .
4  2014  ...                    15.6

[5 rows x 7 columns]

In [12]:
df.dtypes

Year                         int64
Leading cause               object
Sex                         object
Race/Ethnicity              object
Deaths                     float64
Death rate                 float64
Age adjusted death rate     object
dtype: object

In [8]:
df["Year"] = pd.to_numeric(df['Year'])
df.dtypes

Year                        int64
Leading cause              object
Sex                        object
race_ethnicity             object
Deaths                     object
Death rate                 object
Age adjusted death rate    object
dtype: object

In [14]:
df['Deaths'] = pd.to_numeric(df['Deaths'], errors = 'coerce')
df['Death rate'] = pd.to_numeric(df['Death rate'], errors = 'coerce')
df['Age adjusted death rate'] = pd.to_numeric(df['Age adjusted death rate'], errors = 'coerce')
df.dtypes

Year                         int64
Leading cause               object
Sex                         object
Race/Ethnicity              object
Deaths                     float64
Death rate                 float64
Age adjusted death rate    float64
dtype: object

In [17]:
df["Sex"] = pd.Categorical(df['Sex']) # categorical variables
df["Leading cause"] = pd.Categorical(df['Leading cause'])
df["Race/Ethnicity"] = pd.Categorical(df['Race/Ethnicity'])

df.head()

   Year  ... Age adjusted death rate
0  2009  ...                     NaN
1  2013  ...                    18.5
2  2012  ...                     NaN
3  2007  ...                     NaN
4  2014  ...                    15.6

[5 rows x 7 columns]

# 2. Answers:

What was the leading cause of death in 2014? Malignant Neoplasms (Cancer: C00-C97).

In [19]:
df[df['Year'] == 2014]['Leading cause'].describe()

count                                       136
unique                                       19
top       Malignant Neoplasms (Cancer: C00-C97)
freq                                         12
Name: Leading cause, dtype: object

What race/ethnicity had the most recorded deaths in 2014? Not Stated/Unknown.

In [20]:
df[df['Year'] == 2014]['Race/Ethnicity'].describe()

count                    136
unique                     6
top       Not Stated/Unknown
freq                      26
Name: Race/Ethnicity, dtype: object

Which year had the lowest age adjusted death rate? 2008.

In [26]:
df['Death rate'].describe()

count    708.000000
mean      53.438842
std       76.524700
min        2.400000
25%       11.600000
50%       18.350000
75%       64.625000
max      491.400000
Name: Death rate, dtype: float64

In [27]:
df[df['Death rate']==2.4]

    Year  ... Age adjusted death rate
56  2008  ...                     3.3

[1 rows x 7 columns]